.page__heading {
  display: flex;
  align-items: center;
  padding: 10px;
}
.title {
  margin: auto;
  text-align: center;
}
.date {
  margin: auto;
  text-align: center;
}
.homepage__heading {
  flex-direction: column;
  text-shadow: 4px 5px 10px rgba(0, 0, 0, 0.28);
  margin-bottom: 20px;
}
.homepage__title {
  margin-top: 30px;
  font-size: 5vmax;
  font-weight: 300;
}
.homepage__date {
  text-shadow: 4px 5px 9px rgba(0, 0, 0, 0.2);
  font-size: 50px;
  font-weight: 300;
}

.other__heading {
  max-width: 95vw;
  margin: auto;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 12px;
  width: 100vw;
  justify-content: space-between;
  text-shadow: 2px 3px 9px rgba(0, 0, 0, 0.33);
}
.other__title {
  margin-bottom: 0px;
  width: fit-content;
  margin-left: 8%;
  font-weight: 400;
}
.other__date {
  margin-right: 8%;
  font-weight: 400;
}

.home__image {
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
  position: relative;
  max-width: 95vw;
  background-color: transparent;
  border: 30px solid rgb(46, 46, 46, 0.7);
}
@media screen and (min-width: 2000px) {
  .other__date,
  .other__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 1400px) {
  .other__title,
  .other__date {
    font-size: 30px;
  }
}

@media screen and (max-width: 840px) {
  .home__image {
    max-width: 92vw;
    border: 20px solid rgb(46, 46, 46, 0.7);
  }
  .page__heading {
    flex-direction: column;
  }
  .title {
    margin: 0;
    font-size: 52px;
  }
  .date {
    margin: 0;
    font-size: 34px;
  }
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 40px;
  }
  .homepage__title {
    font-size: 50px;
  }
  .homepage__heading {
    margin: 50px auto;
  }
  .other__heading {
    border-bottom: 6px dotted rgba(255, 255, 255, 0.683);
    max-width: 70vw;
  }
  .home__image {
    align-self: flex-start;
  }
  .date {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 34px;
  }
  .date {
    font-size: 24px;
  }
}
