.answers__wrapper {
  max-width: 1000px;
  width: 80vw;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.answer-item__wrapper {
  margin: 4px;
  padding: 19px 60px;
  border-radius: 25px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.798);
  background-color: rgba(40, 39, 39, 0.56);
  mix-blend-mode: luminosity;
  box-sizing: border-box;
  position: relative;
}
.answer-item__question {
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 10px;
}
.answer-item__answer {
  font-weight: 400;
  font-size: 18px;
  margin: auto;

  margin-bottom: 18px;
}
.answer-item__address {
  font-weight: 600;
  color: rgb(255, 222, 37);
  text-indent: 0;
}
.answers__link {
  font-size: 20px;
  text-decoration: none;
  border: 2px solid rgb(255, 222, 37);
  padding: 4px 20px;
  border-radius: 20px;
  float: right;
  position: relative;
  right: 20px;
  bottom: 10px;
}
.answers__link:hover {
  background-color: rgb(255, 222, 37);
  color: black;
}
@media screen and (max-width: 1080px) {
  .answer-item__question {
    font-size: 20px;
  }
  .answer-item__answer {
    font-size: 16px;
  }
}

@media screen and (max-width: 840px) {
  .answers__wrapper {
    width: 90vw;
  }

  .answers__link {
    bottom: unset;
    margin-bottom: 12px;
    padding: 4px 35px;
    margin: 10px auto;
  }
  .answers__link {
  }
}

@media screen and (max-width: 640px) {
  .answers__wrapper {
    width: 96vw;
  }
  .answer-item__wrapper {
    display: flex;
    padding: 20px 20px 14px;
    flex-direction: column;
  }
  .answers__link {
    padding: 4px 35px;
    border-width: 1px;
    width: fit-content;
    font-size: 18px;
    margin: 10px auto;
  }
  .answer-item__question {
    font-size: 20px;
    margin: 8px 16px 4px;
  }
  .answer-item__answer {
    max-width: 94%;
    font-size: 16px;
    font-weight: 300;
  }
}
@media screen and (max-width: 520px) {
  .answer-item__wrapper {
  }
  .answers__link {
    font-size: 16px;
    float: unset;
  }
  .answer-item__question {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
  }
  .answer-item__answer {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
