.nav__wrapper {
  max-width: 1600px;
  width: 80vw;
  padding: 18px 30px 12px;
  border-radius: 20px;
  /* padding-top: 4vmin; */
  margin: auto;
  background-color: rgba(60, 73, 84, 0.7);

  box-shadow: inset 0px 4px 8px 3px rgb(35, 34, 34, 0.5);
}
.nav__button-wrapper_home {
  display: flex;
  justify-content: space-around;
}
/* .nav__button-wrapper_sub {
  grid-area: "nav";
  position: absolute;
  left: 20px;
  top: 0;
  display: flex;
  height: 40%;
  margin: auto 0;
  width: 180px;
  flex-direction: column;
} */
.nav__button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 24px;
  padding-bottom: 8px;
  width: fit-content;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 10px rgba(47, 47, 47, 0.35);
}
.nav__button_home {
  margin-top: 10px;
}
.nav__button_active {
  padding-bottom: 4px;
  border-bottom: 2px solid rgb(158, 152, 139);
}

.nav__button:hover {
  transition: all 0.4s ease;
  text-shadow: 0px 8px 25px rgba(47, 47, 47, 0.45);
  transform: scale(1.1);
}
.nav__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
@media screen and (max-width: 1400px) {
  .nav__wrapper {
    padding: 15px 20px 7px;
  }
  .nav__button {
    font-size: 22px;
  }
}
@media screen and (max-width: 1240px) {
  .nav__button {
    font-size: 21px;
  }
}
@media screen and (max-width: 1080px) {
  .nav__button {
    font-size: 20px;
  }
}
@media screen and (max-width: 760px) {
  .nav__button {
    width: 80px;
  }
}
@media screen and (max-width: 820px) {
  .nav__wrapper {
    display: none;
    width: 100vw;
    background-color: gray;
  }
}
