.basepage {
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;
}

.page__parent_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100vw;
}

/* .page__content_wrapper {
  border: 8px solid rgb(221, 219, 212);
  box-shadow: inset 0px 0px 30px -5px rgb(22, 22, 22, 0.5);
  border-radius: 40px;
  background-color: rgb(158, 152, 139);
  padding: 50px 10px 30px;
  width: 95vw;
  height: 100vh;
  position: relative;
  text-align: center;
} */

.heading-title {
  font-size: 110px;
  font-weight: 300;
  margin: 30px;
  color: #fcfcfc;
  position: relative;
  bottom: 50px;
}
.heading__divider {
  height: 0px;
  width: 16%;
  margin: -10px auto 20px;
  background-color: transparent;
  border-bottom: 4px dotted white;
}

.heading-date {
  margin: auto;
  color: white;
  font-weight: 200;
  font-size: 60px;
  width: fit-content;
  padding-right: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100px;
}

.mobile__menu_button {
  display: none;
}
@media screen and (max-width: 1020px) {
  .heading-title {
    margin: 20px;
  }
  .heading-date {
  }
  .page__content_wrapper {
    padding: 50px 50px 120px;
  }
}
@media screen and (max-width: 890px) {
  .page__content_wrapper {
    border-width: 10px;
  }
  .heading-title {
    margin: 10px;
  }
}

@media screen and (max-width: 840px) {
  .basepage {
    margin: auto;
    margin-top: 70px;
  }
  .mobile__menu_button {
    display: block;
    background-image: url("../../images/mobile-menu-button.svg");
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
  }

  .heading-title {
    bottom: 0;
  }
  .page__content_wrapper {
    border: none;
    border-radius: 0;
    min-height: 100%;
    overflow-y: scroll;
    flex-direction: column-reverse;
  }
  .heading-date {
  }
}
@media screen and (max-width: 620px) {
  .page__parent_wrapper {
    align-items: flex-start;
    min-height: 60vh;
    margin: auto;
    width: 100vw;
  }
}
