/* Google Fonts */
@font-face {
  font-family: "Libre Baskerville", serif;
  src: url("https://fonts.googleapis.com");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Libre Baskerville", serif;
  src: url("https://fonts.googleapis.com");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Libre Baskerville", serif;
  src: url("https://fonts.googleapis.com");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo" sans-serif;
  src: url(Heebo-300-Light.ttf) format(ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Heebo" sans-serif;
  src: url(Heebo-400-Regular.ttf) format(ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Heebo" sans-serif;
  src: url(Heebo-500-Medium.ttf) format(ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Heebo" sans-serif;
  src: url(Heebo-600-SemiBold.ttf) format(ttf);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Heebo" sans-serif;
  src: url(Heebo-700-Bold.ttf) format(ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-300-Light.ttf) format(ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-300-LightItalic.ttf) format(ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-400-Italic.ttf) format(ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-400-Regular.ttf) format(ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-500-MediumItalic.ttf) format(ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-500-Medium.ttf) format(ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-600-SemiBold.ttf) format(ttf);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-600-SemiBoldItalic.ttf) format(ttf);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-700-Bold.ttf) format(ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-700-BoldItalic.ttf) format(ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-900-Black.ttf) format(ttf);
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url(InterTight-900-BlackItalic.ttf) format(ttf);
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  src: url(Lexend-300-Light.ttf) format(ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  src: url(Lexend-400-Regular.ttf) format(ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  src: url(Lexend-500-Medium.ttf) format(ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  src: url(Lexend-700-Bold.ttf) format(ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Lexend";
  font-style: normal;
  src: url(Lexend-900-Black.ttf) format(ttf);
  font-weight: 900;
  font-display: swap;
}
