.best-post {
  padding: 60px 20px 30px;
  margin: 10px;
  z-index: 2;
  width: 240px;
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 20px;
  position: relative;
  overflow-wrap: break-word;
  justify-content: space-around;
}

.best-post__wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: auto;
  z-index: 2;
  width: 96vw;
  margin: 100px auto;
}
.best-post-label {
  font-size: 14px;
  font-weight: 400;
  color: rgb(31, 46, 80);
  margin: 0 0 14px;
  padding: 0;
  overflow-wrap: break-word;
}
.best-post-text {
  color: white;
  font-weight: 400;
  font-size: 12px;
  margin-left: 0;
  word-break: break-all;
}

.trash-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 20px;
  background-image: url(../images/trash-icon.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
}

.trash-icon:hover {
  opacity: 1;
}
