.best-post {
  padding: 40px;
  margin: 20px;
  z-index: 2;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  border-radius: 20px;
  position: relative;
}

.best-post__wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: auto;
  z-index: 2;
  width: 90vw;
  margin: 100px auto;
}
.best-post-label {
  font-size: 20px;
  font-weight: 400;
  color: rgb(31, 46, 80);
  margin: 0 0 14px;
  padding: 0;
}
.best-post-text {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-left: 0;
}

.trash-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 20px;
  background-image: url(../images/trash-icon.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
}

.trash-icon:hover {
  opacity: 1;
}
