@media screen and (max-width: 1000px) {
  .post__name {
    font-weight: 400;
  }
  .url {
    width: 150px;
    font-size: 1em;
  }
  .description {
    font-size: 1em;
  }
  .post__sub {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
  .heading-divider {
    display: none;
  }
  .accordion__heading-text_wrapper {
  }
}

@media screen and (max-width: 680px) {
  .post {
    width: 90vw;
  }
  .accordion-item__button {
    padding: 4px 16px 0px;
    width: 100%;
  }
  .accordion-item__data {
    padding-top: 10px;
  }
  .description-text-header {
    font-size: 1.1em;
  }
  .url {
    top: 0px;
  }
  .post__price {
    margin: 0;
    width: 46px;
    text-align: left;
  }
  .description {
    margin-top: 8px;
  }
}
@media screen and (max-width: 540px) {
  .post {
    width: 94vw;
    font-size: 14px;
  }
  .post__name {
    font-size: 16px;
    margin: 10px 5px;
  }
  .post__sub {
    margin-top: 10px;
  }
  .post__price {
    font-size: 16px;
    text-align: center;
  }
  .url {
    position: relative;
    right: unset;
    width: 90%;
    border-radius: 8px;
    margin: 10px auto;
  }
  .text-header {
    margin: 10px 0;
    font-size: 1em;
  }
  .description-text-header {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
  .address {
    border-radius: 11px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .attire {
    margin-top: 0px;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
  }
}
