.sub__nav {
  background-color: rgba(38, 187, 221, 0.727);
  padding: 12px 50px 4px;
  border-radius: 25px;
  display: flex;
  margin: 20px auto 50px;
  justify-content: space-between;
  max-width: 700px;
  box-shadow: inset 0px 4px 8px 3px rgb(35, 34, 34, 0.5);
}
.sub__nav_button {
  padding: 6px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 300;
  margin-bottom: 8px;
}
/* .explore__pages {
  display: flex;
  width: 100%;
  height: 100%;
} */
.sub-main {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 80vh;
  width: 80vw;
  align-items: center;
}

.sub__nav_button_active {
  border-bottom: 3px solid white;
}

.paragraph {
  font-size: 24px;
  font-weight: 400;
  max-width: 1000px;
  width: 90vw;
  text-align: center;
  margin: 30px;
}
.stay__link {
  font-size: 30px;
  text-decoration: none;
  border: 3px solid white;
  padding: 8px 20px;
  border-radius: 20px;
}
.stay__link:hover {
  background-color: #15a0ce;
}

@media screen and (max-width: 1280px) {
  .paragraph {
    font-size: 20px;
    margin: 25px;
  }
  .stay__link {
    font-size: 24px;
  }
}

@media screen and (max-width: 800px) {
  .sub__nav {
    box-shadow: unset;
    padding: 5px 0px;
    background-color: transparent;
    justify-content: space-around;
    width: 80vw;
  }
  .sub__nav_button {
    font-size: 20px;
    background-color: rgba(41, 33, 127, 0.483);
    border-radius: 10px;
    margin: auto;
    width: 25vw;
    border-bottom: unset;
    mix-blend-mode: luminosity;
    box-shadow: inset 0px 4px 8px 3px rgb(35, 34, 34, 0.5);
  }
  .sub__nav_button_active {
    background-color: rgba(41, 33, 127, 0.483);
    mix-blend-mode: hard-light;
  }
  .paragraph {
    font-size: 18px;
    width: 85vw;
  }
  .stay__link {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .sub__nav {
    width: 96vw;
  }
  .sub__nav_button {
    font-size: 16px;
  }
  .paragraph {
    font-size: 1em;
    margin: 16px;
  }
  .stay__link {
    font-size: 1em;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .sub__nav {
    width: 96vw;
  }
  .sub__nav_button {
    font-size: 1em;
  }
}
@media screen and (max-width: 420px) {
  .sub__nav_button {
    width: 28vw;
    font-size: 12px;
  }
}
